/* .footer{
    background-color: #dc3545;
} */

.link{
  font-size: 16px;
}


  .nav-underline {
    --bs-nav-underline-gap: 0.1rem;
  }

  @media (max-width: 584px) {
    .link{
      font-size: 12px;
    }
  }