* {
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  border-bottom: 1px solid #e8e8e8;
}
@media (max-width: 978px) {
  .aboutpara {
    padding-bottom: 3rem;
  }
}

.mainvideo{
  width:100%;
  height:100vh;
  display: flex;
  justify-content: flex-end;
}
.titletext{
  position: absolute;
  width: 90%;
  margin-top: 70px;
  height: 100%;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}

.contentvideo{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media(max-width: 584px){
  .maincontent{
    height: 50vh;
  }
  .titletext{
    position: relative;
    margin-top: 70px;
    height:70vh;
    justify-content: start;
  }
.videodiv{
  display: none;
}
}

.service{
  /* background-color: #282c34; */
  margin: 5rem 0rem;
  height: 35rem;
  background-position: center;
  background-size: contain; /* Adjusts the background image to cover the entire element */
  background-repeat: no-repeat;
  background-image: url('../src/images/service.png');
}